mixin soc-icons
  ul.soc-icons
    li.soc-icons-item
      a.soc-icon-link(href='#')
        span.twitter
    li.soc-icons-item
      a.soc-icon-link(href='#')
        span.fabecook
    li.soc-icons-item
      a.soc-icon-link(href='#')
        span.instagram
    li.soc-icons-item
      a.soc-icon-link(href='#')
        span.youtube
    li.soc-icons-item
      a.soc-icon-link(href='#')
        span.soundcloud
