//
// Navigation styles
// --------------------------------------------------

.nav {
  background-color: #fff;
  color: #000;
  font-size: 20px;
  text-align: center;
  .main-page & {
    background-color: transparent;
    color: #fff;
  }
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-list-item {
  margin: 0;
  padding: 0;
}

.nav-link {
  font-size: 20px;
  text-align: center;
  .main-page & {
    background-color: transparent;
    color: #fff;
    &:hover {
      color: #df0451;
    }
  }
}

.nav-list-item + .nav-list-item {
  margin-left: 80px;
}

.btn-nav {

}