//
// Top line block
// --------------------------------------------------

.top-line {
  align-content: stretch;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: $xl-breakpoint) {
    flex-direction: row;
  }
  .left-side {
    order: 1;
    @media screen and (min-width: $xl-breakpoint) {
      flex: 0 1 274px;
    }
  }
  .middle-side {
    order: 3;
    @media screen and (min-width: $xl-breakpoint) {
      flex: 1 1 500px;
      order: 2;
    }
  }
  .right-side {
    order: 2;
    @media screen and (min-width: $xl-breakpoint) {
      flex: 0 0 246px;
      order: 3;
    }
  }
}