mixin about
  #about.about
    .container
      h1.accessibility About
      h2.purple-title-with-bg About
      h3.subtitle Indie / Punk /
        span  Loud-as-fuck-guitar-pop
        |  duo from York.
      p Started in 2011 by writing and recording their debut album in just 4 days.
      p.small Currently working on their 4th album with the first single to be released this summer.

