mixin additionTools
  section.addition-tools
    .container
      h2.addition-tools__title Additional tools you can get after installation:
      .tools
        .tools__item
          .tools__image
            i.ico.ico-tools-1
          span.tools__description Analyze incoming and outgoing calls
        .tools__item
          .tools__image
            i.ico.ico-tools-2
          span.tools__description Queuing services
        .tools__item
          .tools__image
            i.ico.ico-tools-3
          span.tools__description Interfacing to Customer Relationship
            br
            | Management (CRM) systems
        .tools__item
          .tools__image
            i.ico.ico-tools-4
          span.tools__description Monitoring panels
        .tools__item
          .tools__image
            i.ico.ico-tools-5
          span.tools__description Ready for any RAM size on any VPS: 15MB resident modules
        .tools__item
          .tools__image
            i.ico.ico-tools-6
          span.tools__description 3 month free support after install


