mixin advantages
  section.advantages
    .container
      .advantages__row
        .advantages__item
          .advantage-details
            span.advantage-details__image
              i.ico.ico-advantage-1
            h3.advantage-details__title CPU and RAM efficient
            span.advantage-details__description Use power more efficiently.
              br
              | PBX works on low resources VM inside
              br
              | containers.
        .advantages__item
          .advantage-details
            span.advantage-details__image
              i.ico.ico-advantage-2
            h3.advantage-details__title Fast and Reliable
            span.advantage-details__description Strong frame of container with no undue software. Compact dialplan with no templates. IP or PJSIP Channels only.
        .advantages__item
          .advantage-details
            span.advantage-details__image
              i.ico.ico-advantage-3
            h3.advantage-details__title Extendable and Movable
            span.advantage-details__description Containers grow with your business, can be stored and extended by demand.