mixin albums
  #albums.albums
    h2.purple-title-with-bg albums
    .swiper-holder
      .container
        .swiper-container
          .btn-swiper-prev
            .item-table
              .item-cell
                span
          .btn-swiper-next
            .item-table
              .item-cell
                span
          .swiper-wrapper
            .swiper-slide
              .albums-item
                .img-holder
                  a.popup(href='#album-dertail')
                    img(src='images/content/img-alboms-3.jpg' alt="image description" width='300' height='300')
                h3.albums-item-title NO TIME FOR NAYSAYERS
                a.apple-logo-link(href="https://itunes.apple.com/us/album/rut./id897672266") iTunes
            .swiper-slide
              .albums-item
                .img-holder
                  a.popup(href='#album-dertail')
                    img(src='images/content/img-alboms-2.jpg' alt="image description" width='300' height='300')
                h3.albums-item-title BARE
                a.apple-logo-link(href="https://itunes.apple.com/us/album/bare/id577957106") iTunes
            .swiper-slide
              .albums-item
                .img-holder
                  a.popup(href='#album-dertail')
                    img(src='images/content/img-alboms-1.jpg' alt="image description" width='300' height='300')
                h3.albums-item-title RUT
                a.apple-logo-link(href="https://itunes.apple.com/us/album/bare/id577957106") iTunes

