include copyright
mixin footer
  footer.footer
    .container
      .footer__holder
        .col-1
          a(href='#')
            i.ico.ico-logo-footer
        .col-2
          h3.services-footer__title Services
          ul.services-footer__list
            li.services-footer__item Virtual hosted IP PBX
            li.services-footer__item IP PBX on your (V) Machine
            li.services-footer__item Connector to CRM
            li.services-footer__item Developers consulting
        .col-3
          ul.nav-footer
            li.nav-footer__item: a.nav-footer__link(href='#') Features
            li.nav-footer__item: a.nav-footer__link(href='#') Screenshots
            li.nav-footer__item: a.nav-footer__link(href='#') F.A.Q
            li.nav-footer__item: a.nav-footer__link(href='#') Contacts
    +copyright