mixin menu
  nav.nav(data-navbar)
    button.btn-nav(data-navbar-opener): span.ico-menu
    ul.nav-list
      li.nav-list-item
        a.nav-link(href="") Services
      li.nav-list-item
        a.nav-link(href="#about" data-scroll-to) Features
      li.nav-list-item
        a.nav-link(href="#news" data-scroll-to) Screenshots
      li.nav-list-item
        a.nav-link(href="#videos" data-scroll-to) F.A.Q
      li.nav-list-item
        a.nav-link(href="contacts.html" data-scroll-to) Contacts