mixin menu
  if main
    nav.nav(data-navbar data-smooth-scrolling)
      a.btn-nav(data-navbar-opener): span.ico-menu-mobile
      ul.nav-list
        li.nav-list-item
          a.nav-link(href="") HOME
        li.nav-list-item
          a.nav-link(href="#about" data-scroll-to) ABOUT
        li.nav-list-item
          a.nav-link(href="#news" data-scroll-to) NEWS
        li.nav-list-item
          a.nav-link(href="#videos" data-scroll-to) VIDEOS
        li.nav-list-item
          a.nav-link(href="#albums" data-scroll-to) ALBUMS
        li.nav-list-item
          a.nav-link(href="#photos" data-scroll-to) PHOTOS
        li.nav-list-item
          a.nav-link(href="#shows" data-scroll-to) SHOWS
        li.nav-list-item
          a.nav-link(href="#store" data-scroll-to) STORE
        li.nav-list-item
          a.nav-link(href="#contact" data-scroll-to) CONTACT
  else
    nav.nav(data-navbar)
      a.btn-nav(data-navbar-opener): span.ico-menu-mobile
      ul.nav-list
        li.nav-list-item
          a.nav-link(href="") HOME
        li.nav-list-item
          a.nav-link(href="#") ABOUT
        li.nav-list-item
          a.nav-link(href="#") NEWS
        li.nav-list-item
          a.nav-link(href="#") VIDEOS
        li.nav-list-item
          a.nav-link(href="#") ALBUMS
        li.nav-list-item
          a.nav-link(href="#") PHOTOS
        li.nav-list-item
          a.nav-link(href="#") SHOWS
        li.nav-list-item
          a.nav-link(href="#") STORE
        li.nav-list-item
          a.nav-link(href="#") CONTACT

