mixin news
  #news.news
    h2.purple-title-with-bg NEWS
    .swiper-holder
      .container
        .swiper-container
          .btn-swiper-prev
            .item-table
              .item-cell
                span
          .btn-swiper-next
            .item-table
              .item-cell
                span
          .swiper-wrapper
            .swiper-slide
              .news-element
                img(src='images/content/img-news-1.jpg' width='300' height='200' alt='image description')
                .news-element-content
                  h3
                    span CAMDEN
                    |  HERE WE COME!
                  p On Thursday 9th July we will be playing The Black Heart in Camden. In one of our favourite watering holes in the big smoke we will be supporting Harry Mundy & The Mules.
                ul.news-element-addon
                  li
                    span.timestamp June 1st 2015
                  li
                    a.news-details(href='#') MORE INFO
            .swiper-slide
              .news-element
                img(src='images/content/img-news-2.jpg' width='300' height='200' alt='image description')
                .news-element-content
                  h3 IT’S NEVER DULL IN
                    span  HULL!
                  p On Wednesday 27th May we head over to one of our favourite cities to play one of our favourite venues. Hull and the Adelphi to be precise and we can’t wait.
                ul.news-element-addon
                  li
                    span.timestamp May 13th 2015
                  li
                    a.news-details(href='#') MORE INFO
            .swiper-slide
              .news-element
                img(src='images/content/img-news-3.jpg' width='300' height='200' alt='image description')
                .news-element-content
                  h3 SUPPORTING
                    span  THE STRANGLERS!
                  p On Monday 13th July we are supporting some real punk icons ‘The Stranglers’ at our home from home.. Fibbers. Hopefully they can show us how to write a proper punk song.
                ul.news-element-addon
                  li
                    span.timestamp April 16th 2015
                  li
                    a.news-details(href='#') MORE INFO
            .swiper-slide
              .news-element
                img(src='images/content/img-news-4.jpg' width='300' height='200' alt='image description')
                .news-element-content
                  h3
                    span ALBUM FOUR
                    |  IN THE WORKS!
                  p We started laying down tracks for our next album this weekend. We think we’ll probably call it ‘DOG’. It’s sounding a lot more punk and a lot more pop if you get me.
                ul.news-element-addon
                  li
                    span.timestamp March 30th 2015
                  li
                    a.news-details(href='#') MORE INFO
            .swiper-slide
              .news-element
                img(src='images/content/img-news-1.jpg' width='300' height='200' alt='image description')
                .news-element-content
                  h3
                    span CAMDEN
                    |  HERE WE COME!
                  p On Thursday 9th July we will be playing The Black Heart in Camden. In one of our favourite watering holes in the big smoke we will be supporting Harry Mundy & The Mules.
                ul.news-element-addon
                  li
                    span.timestamp June 1st 2015
                  li
                    a.news-details(href='#') MORE INFO
            .swiper-slide
              .news-element
                img(src='images/content/img-news-2.jpg' width='300' height='200' alt='image description')
                .news-element-content
                  h3 IT’S NEVER DULL IN
                    span  HULL!
                  p On Wednesday 27th May we head over to one of our favourite cities to play one of our favourite venues. Hull and the Adelphi to be precise and we can’t wait.
                ul.news-element-addon
                  li
                    span.timestamp May 13th 2015
                  li
                    a.news-details(href='#') MORE INFO
            .swiper-slide
              .news-element
                img(src='images/content/img-news-3.jpg' width='300' height='200' alt='image description')
                .news-element-content
                  h3 SUPPORTING
                    span  THE STRANGLERS!
                  p On Monday 13th July we are supporting some real punk icons ‘The Stranglers’ at our home from home.. Fibbers. Hopefully they can show us how to write a proper punk song.
                ul.news-element-addon
                  li
                    span.timestamp April 16th 2015
                  li
                    a.news-details(href='#') MORE INFO
            .swiper-slide
              .news-element
                img(src='images/content/img-news-4.jpg' width='300' height='200' alt='image description')
                .news-element-content
                  h3
                    span ALBUM FOUR
                    |  IN THE WORKS!
                  p We started laying down tracks for our next album this weekend. We think we’ll probably call it ‘DOG’. It’s sounding a lot more punk and a lot more pop if you get me.
                ul.news-element-addon
                  li
                    span.timestamp March 30th 2015
                  li
                    a.news-details(href='#') MORE INFO