mixin photos
  #photos.photos
    h2.purple-title-with-bg PHOTOS
    .swiper-holder
      .swiper-container
        .btn-swiper-prev
          .item-table
            .item-cell
              span
        .btn-swiper-next
          .item-table
            .item-cell
              span
        .swiper-wrapper
          .swiper-slide
            a.fancybox(href='images/content/img-photos-1.jpg' rel="group2")
              img(src='images/content/img-photos-1.jpg' alt='image description' width='320' height='320')
          .swiper-slide
            a.fancybox(href='images/content/img-photos-2.jpg' rel="group2")
              img(src='images/content/img-photos-2.jpg' alt='image description' width='320' height='320')
          .swiper-slide
            a.fancybox(href='images/content/img-photos-3.jpg' rel="group2")
              img(src='images/content/img-photos-3.jpg' alt='image description' width='320' height='320')
          .swiper-slide
            a.fancybox(href='images/content/img-photos-4.jpg' rel="group2")
              img(src='images/content/img-photos-4.jpg' alt='image description' width='320' height='320')
          .swiper-slide
            a.fancybox(href='images/content/img-photos-5.jpg' rel="group2")
              img(src='images/content/img-photos-5.jpg' alt='image description' width='320' height='320')
          .swiper-slide
            a.fancybox(href='images/content/img-photos-6.jpg' rel="group2")
              img(src='images/content/img-photos-6.jpg' alt='image description' width='320' height='320')
          .swiper-slide
            a.fancybox(href='images/content/img-photos-7.jpg' rel="group2")
              img(src='images/content/img-photos-7.jpg' alt='image description' width='320' height='320')
          .swiper-slide
            a.fancybox(href='images/content/img-photos-8.jpg' rel="group2")
              img(src='images/content/img-photos-8.jpg' alt='image description' width='320' height='320')
          .swiper-slide
            a.fancybox(href='images/content/img-photos-9.jpg' rel="group2")
              img(src='images/content/img-photos-9.jpg' alt='image description' width='320' height='320')
          .swiper-slide
            a.fancybox(href='images/content/img-photos-10.jpg' rel="group2")
              img(src='images/content/img-photos-10.jpg' alt='image description' width='320' height='320')
          .swiper-slide
            a.fancybox(href='images/content/img-photos-11.jpg' rel="group2")
              img(src='images/content/img-photos-11.jpg' alt='image description' width='320' height='320')
          .swiper-slide
            a.fancybox(href='images/content/img-photos-12.jpg' rel="group2")
              img(src='images/content/img-photos-12.jpg' alt='image description' width='320' height='320')
          .swiper-slide
            a.fancybox(href='images/content/img-photos-13.jpg' rel="group2")
              img(src='images/content/img-photos-13.jpg' alt='image description' width='320' height='320')
          .swiper-slide
            a.fancybox(href='images/content/img-photos-14.jpg' rel="group2")
              img(src='images/content/img-photos-14.jpg' alt='image description' width='320' height='320')
          .swiper-slide
            a.fancybox(href='images/content/img-photos-15.jpg' rel="group2")
              img(src='images/content/img-photos-15.jpg' alt='image description' width='320' height='320')

