mixin popup
  #album-dertail.album
    .album-image
      img(src='images/content/img-alboms-1.jpg' alt="image description" width='300' height='300')
    .album-description
      h3.album-title RUT
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        | sed do eiusmod tempor incididunt ut labore et dolore mag
        | na aliqua. Ut enim ad minim veniam, quis nostrud exercit
        | ation ullamco laboris nisi ut aliquip ex ea commodo con
        | sequat.
      p Duis aute irure dolor in reprehenderit in voluptate velit ess
        | e cillum dolore eu fugiat nulla pariatur. Excepteur sint occa
        | ecat cupidatat non proident, sunt in culpa qui officia deser
        | unt mollit anim id est laborum.
      a.album-detail(href='#') MORE INFO >
      a.btn-album-buy(href='#')
        span.ico-apple-small-white
        | BUY NOW on itunes
      a.btn-album-buy(href='#')
        span.ico-p-small
        | BUY NOW on CD