mixin shows
  #shows.shows
    .container
      h2.purple-title-with-bg SHOWS
      .shows-list
        .shows-item
          .shows-item-holder
            .show-date
              span.show-date-day 27
              span.show-date-month may
              span.show-date-year 2015
            .show-city
              .item-table
                .item-cell HULL
            .show-place
              .item-table
                .item-cell ADELPHI
        .shows-item
          .shows-item-holder
            .show-date
              span.show-date-day 30
              span.show-date-month may
              span.show-date-year 2015
            .show-city
              .item-table
                .item-cell LEEDS
            .show-place
              .item-table
                .item-cell CARPE DIEM
        .shows-item
          .shows-item-holder
            .show-date
              span.show-date-day 18
              span.show-date-month jun
              span.show-date-year 2015
            .show-city
              .item-table
                .item-cell MIDDLESBROUGH
            .show-place
              .item-table
                .item-cell TSone
        .shows-item
          .shows-item-holder
            .show-date
              span.show-date-day 19
              span.show-date-month jun
              span.show-date-year 2015
            .show-city
              .item-table
                .item-cell LEEDS
            .show-place
              .item-table
                .item-cell THE LIBRARY
        .shows-item
          .shows-item-holder
            .show-date
              span.show-date-day 9
              span.show-date-month jul
              span.show-date-year 2015
            .show-city
              .item-table
                .item-cell LONDON
            .show-place
              .item-table
                .item-cell THE BLACK HEART
        .shows-item
          .shows-item-holder
            .show-date
              span.show-date-day 13
              span.show-date-month jul
              span.show-date-year 2015
            .show-city
              .item-table
                .item-cell YORK
            .show-place
              .item-table
                .item-cell FIBBERS


