mixin store
  #store.store
    h2.purple-title-with-bg store
    .swiper-holder
      .container
        .swiper-container
          .btn-swiper-prev
            .item-table
              .item-cell
                span
          .btn-swiper-next
            .item-table
              .item-cell
                span
          .swiper-wrapper
            .swiper-slide
              .store-item
                .store-item-image
                  img(src='images/content/img-store-1.png' alt='image description' width='342' height='308')
                h3.store-item-title 2’S UP: T-SHIRT
                span.store-item-price £10
                a.btn.btn-purple(href='#') BUY NOW
            .swiper-slide
              .store-item
                .store-item-image
                  img(src='images/content/img-store-2.png' alt='image description' width='306' height='308')
                h3.store-item-title RUT: CD ALBUM
                span.store-item-price £10
                a.btn.btn-purple(href='#') BUY NOW
            .swiper-slide
              .store-item
                .store-item-image
                  img(src='images/content/img-store-1.png' alt='image description' width='342' height='308')
                h3.store-item-title 2’S UP: T-SHIRT
                span.store-item-price £10
                a.btn.btn-purple(href='#') BUY NOW
            .swiper-slide
              .store-item
                .store-item-image
                  img(src='images/content/img-store-2.png' alt='image description' width='306' height='308')
                h3.store-item-title RUT: CD ALBUM
                span.store-item-price £10
                a.btn.btn-purple(href='#') BUY NOW
