mixin videos
  #videos.videos
    h2.purple-title-with-bg VIDEOS
    .swiper-holder
      .container
        .swiper-container
          .btn-swiper-prev
            .item-table
              .item-cell
                span
          .btn-swiper-next
            .item-table
              .item-cell
                span
          .swiper-wrapper
            .swiper-slide
              .videos-item
                a(class="fancybox fancybox.iframe" href='http://www.youtube.com/embed/As9iirLWROc?autoplay=1' rel="group1")
                  img(src='https://img.youtube.com/vi/As9iirLWROc/0.jpg' alt='image description')
                .news-item-content
                  h3.videos-item-title YORK ACOUSTIC: UNPLUGGED
                  a.youtube-link(href='https://www.youtube.com/channel/UCLYVw6jHK4tggYPIVbXnvGw') YouTube
            .swiper-slide
              .videos-item
                a(class="fancybox fancybox.iframe" href='http://www.youtube.com/embed/utr3KwanfNo?autoplay=1' rel="group1")
                  img(src='https://img.youtube.com/vi/utr3KwanfNo/0.jpg' alt='image description')
                .news-item-content
                  h3.videos-item-title YORK ACOUSTIC: UNPLUGGED
                  a.youtube-link(href='https://www.youtube.com/channel/UCLYVw6jHK4tggYPIVbXnvGw') YouTube
            .swiper-slide
              .videos-item
                a(class="fancybox fancybox.iframe" href='http://www.youtube.com/embed/utr3KwanfNo?autoplay=1' rel="group1")
                  img(src='https://img.youtube.com/vi/utr3KwanfNo/0.jpg' alt='image description')
                .news-item-content
                  h3.videos-item-title YORK ACOUSTIC: UNPLUGGED
                  a.youtube-link(href='https://www.youtube.com/channel/UCLYVw6jHK4tggYPIVbXnvGw') YouTube
            .swiper-slide
              .videos-item
                a(class="fancybox fancybox.iframe" href='http://www.youtube.com/embed/9_I0TRKOI04?autoplay=1' rel="group1")
                  img(src='https://img.youtube.com/vi/9_I0TRKOI04/0.jpg' alt='image description')
                .news-item-content
                  h3.videos-item-title YORK ACOUSTIC: UNPLUGGED
                  a.youtube-link(href='https://www.youtube.com/channel/UCLYVw6jHK4tggYPIVbXnvGw') YouTube
            .swiper-slide
              .videos-item
                a(class="fancybox fancybox.iframe" href='http://www.youtube.com/embed/DvmFBBvE8B0?autoplay=1' rel="group1")
                  img(src='https://img.youtube.com/vi/DvmFBBvE8B0/0.jpg' alt='image description')
                .news-item-content
                  h3.videos-item-title YORK ACOUSTIC: UNPLUGGED
                  a.youtube-link(href='https://www.youtube.com/channel/UCLYVw6jHK4tggYPIVbXnvGw') YouTube