extends _modules/layout
include _modules/header
include _modules/menu
include _modules/popup
include _modules/footer
include _modules/intro
include _modules/whoWeAre
include _modules/divider
include _modules/advantages
block body
  -var main = true
  //wrapper starts
  .wrapper.main-page
    //header starts
    +header
    //header ends
    //main starts
    main.main
      +intro('virtual hosted pbx')
      +divider('full')
      +whoWeAre
      +advantages
    //main ends
    //footer starts
    +footer
    .is-hidden
      +popup
    //footer ends
  //wrapper ends