extends _modules/layout
include _modules/header
include _modules/menu
include _modules/popup
include _modules/footer
include _modules/intro
include _modules/divider
include _modules/advantages
include _modules/additionTools
include _modules/info-block
include _modules/questions-section
block body
  -var main = true
  //wrapper starts
  .wrapper.main-page
    //header starts
    +header
    //header ends
    //main starts
    main.main
      +intro('virtual hosted pbx')
      +divider('full')
      +info-block({
        title: 'Who we are?',
        content: ['Virtual hosted PBX - lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit v magnam aliquam quaerat voluptatem.'],
        button: [false, 'COMPARE PLANS & PRICES', '#', 'btn-purple']
      }, 'with-purple-bg')
      +advantages
      +additionTools
      +info-block({
        title: 'Your new business phone plan',
        content: ['Because your business is unique, you need partners who will work with you to meet your exact needs. VirtualPBX plans are designed to serve companies all the way from inception to IPO and everything in between.Because your business is unique, you need partners who will work with you to meet your exact needs. VirtualPBX plans are designed to serve companies all the way from inception to IPO and everything in between.'],
        button: [true, 'COMPARE PLANS & PRICES', '#', 'btn-purple']
      }, '')
      +questions-section
    //main ends
    //footer starts
    +footer
    .is-hidden
    footer ends
  //wrapper ends