extends _modules/layout
include _modules/header
include _modules/menu
include _modules/popup
include _modules/footer
block body
  -var main = true
  //wrapper starts
  .wrapper
    //header starts
    +header
    +menu
    //header ends
    //main starts
    main.main

    //main ends
    //footer starts
    +footer
    .is-hidden
      +popup
    //footer ends
  //wrapper ends