
.addition-tools {
  background-color: #030c33;
  background-image: url(../images/backgrounds/bg-addition-tools.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  margin-bottom: -18px;
  padding-bottom: 35px;
  padding-top: 30px;
  @media screen and (min-width: $lg-breakpoint) {
    padding-bottom: 55px;
    padding-top: 50px;
  }

  &__title {
    color: #fff;
    font-weight: 400;
    margin-bottom: 30px;
    font-size: 25px;
    margin-top: 0;
    text-align: center;
    @media screen and (min-width: $lg-breakpoint) {
      font-size: 40px;
      margin-bottom: 45px;
    }
  }
}

.tools {
  display: flex;
  flex-wrap: wrap;
  @media screen and (min-width: $lg-breakpoint) {

  }

  &__item {
    display: flex;
    flex: 0 0 100%;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 18px;
    @media screen and (min-width: $lg-breakpoint) {
      flex: 0 0 33.33333%;
    }
  }
  &__image {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    @media screen and (min-width: $lg-breakpoint) {
      min-height: 45px;
      margin-bottom: 25px;
    }

    .ico {
      display: block;
    }
  }
  &__description {
    color: #ffffff;
    display: block;
    font-size: 18px;
    line-height: 1.8;
    text-align: center;
    @media screen and (min-width: $lg-breakpoint) {
      font-size: 20px;
    }
  }
}