
.addition-tools {
  background-color: #030c33;
  background-image: url(../images/backgrounds/bg-addition-tools.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  margin-bottom: -18px;
  padding-bottom: 55px;
  padding-top: 50px;

  &__title {
    color: #fff;
    font-weight: 400;
    margin-bottom: 45px;
    margin-top: 0;
    text-align: center;
  }
}

.tools {
  display: flex;
  flex-wrap: wrap;

  &__item {
    display: flex;
    flex: 0 0 33.33333%;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 18px;
  }
  &__image {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    min-height: 45px;
    .ico {
      display: block;
    }
  }
  &__description {
    color: #ffffff;
    display: block;
    font-size: 20px;
    line-height: 1.8;
    text-align: center;
  }
}