
.divider {
  height: 3px;
  background-image: linear-gradient(to left, #df0451, #ffcc00);
  width: 100%;
  display: block;
  content: '';
  &.full {
    width: 100%;
  }
  &.w250 {
    width: 250px;
    margin: 0 auto;
  }
}