
.divider {
  background-image: linear-gradient(to left, #df0451, #ffcc00);
  content: '';
  display: block;
  height: 3px;
  width: 100%;
  &.full {
    width: 100%;
  }
  &.w250 {
    margin: 0 auto;
    width: 250px;
  }
}