//
// Fancybox styles
// --------------------------------------------------

.fancybox-overlay {
  background-color: rgba(0,0,0, .6);
  background-image: none;
}

.fancybox-skin {
  background-color: rgba(0,0,0, .75);
}

.fancybox-skin {
  padding: 10px !important;
  @media screen and (min-width: $lg-breakpoint) {
    padding: 100px !important;
  }
}

.fancybox-inner {
  @media screen and (max-width: $lg-breakpoint) {
    height: auto !important;
  }
}

.fancybox-close {
  @include sprite-dimensions($icons, fancybox-close);
  background: $icons;
  background-position: sprite-position($icons, fancybox-close);
  @include retina-sprite-background(fancybox-close, $retina);
  right: 15px;
  top: 15px;
}

.fancybox-next, .fancybox-prev {
  width: 60px;
  @media screen and (min-width: $lg-breakpoint) {
    width: 100px;
  }
  span {
    visibility: visible;
  }
}

.fancybox-next {
  right: -30px;
  @media screen and (min-width: $lg-breakpoint) {
    right: -100px;
  }
  span {
    @include sprite-dimensions($icons, arrow-next-small);
    background: $icons;
    background-position: sprite-position($icons, arrow-next-small);
    @include retina-sprite-background(arrow-next-small, $retina);
    right: 3px;
    @media screen and (min-width: $lg-breakpoint) {
      @include sprite-dimensions($icons, fancybox-next);
      background: $icons;
      background-position: sprite-position($icons, fancybox-next);
      @include retina-sprite-background(fancybox-next, $retina);
      right: 33px;
    }
  }
}

.fancybox-prev {
  left: -30px;
  @media screen and (min-width: $lg-breakpoint) {
    left: -100px;
  }
  span {
    @include sprite-dimensions($icons, arrow-prev-small);
    background: $icons;
    background-position: sprite-position($icons, arrow-prev-small);
    @include retina-sprite-background(arrow-prev-small, $retina);
    left: 3px;
    @media screen and (min-width: $lg-breakpoint) {
      @include sprite-dimensions($icons, fancybox-prev);
      background: $icons;
      background-position: sprite-position($icons, fancybox-prev);
      @include retina-sprite-background(fancybox-prev, $retina);
      left: 33px;
    }
  }
}