//
// header styles
// --------------------------------------------------
$m-menu: $lg-breakpoint;

.header {
  overflow: hidden;

  .main-page & {
    position: absolute;
  }
}

.header__holder {
  @extend .container;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .main-page & {
    justify-content: center;

    @media screen and (max-width: $m-menu - 1) {
      height: auto;
    }

    .logo-main {
      display: none;
    }
  }
}
