//
// header styles
// --------------------------------------------------

.header {
  .main-page & {
    position: absolute;
  }
}

.header__holder {
  @extend .container;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .main-page & {
    justify-content: center;
    .logo-main {
      display: none;
    }
  }
}
