// intro section styles
.intro {
  background-image: url(../images/backgrounds/bg-intro.jpg);
  background-size: cover;

  &__holder {
    @extend .container;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 750px;
    justify-content: center;
  }
  &__title {
    color: #fff;
    font-size: 60px;
    line-height: 1;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
  }
  .ico {
    margin-bottom: 55px;
  }
}