//
// header styles
// --------------------------------------------------

// about section
.about {
	font-size: 16px;
	font-weight: 300;
	line-height: 1.1;
	padding-bottom: 31px;
	text-align: center;
	@media screen and (min-width: $lg-breakpoint) {
		font-size: 23px;
		padding-bottom: 62px;
	}
	h2.purple-title-with-bg {
		margin-bottom: 15px;
		@media screen and (min-width: $lg-breakpoint) {
			margin-bottom: 38px;
		}
	}
	.subtitle {
		font-size: 20px;
		margin-bottom: 2px;
		margin-top: 0;
		text-transform: uppercase;
		@media screen and (min-width: $lg-breakpoint) {
			font-size: 28px;
		}
		span {
			color: $text-purple;
		}
	}
	p {
		margin-bottom: 6px;
		@media screen and (min-width: $lg-breakpoint) {
			margin-bottom: 3px;
		}
		&.small {
			font-size: 14px;
			@media screen and (min-width: $lg-breakpoint) {
				font-size: 20px;
			}
		}
	}
}

// news section
.news {
	background-color: $bg-grey-light;
	padding-bottom: 18px;
	padding-top: 20px;
	position: relative;
	text-align: center;
	@media screen and (min-width: $lg-breakpoint) {
		padding-top: 0;
		padding-bottom: 45px;
	}
	.swiper-slide {
		width: 150px;
		@media screen and (min-width: $lg-breakpoint) {
			width: 300px;
		}
	}
}

.news-element {
	@include box-sizing(border-box);
	font-size: 12px;
	font-weight: 300;
	line-height: 1.2;
	margin: 0 auto;
	max-width: 150px;
	padding-bottom: 10px;
	@media screen and (min-width: $lg-breakpoint) {
		font-size: 15px;
		max-width: none;
		width: 300px;
	}
	img {
		display: block;
		height: auto;
		max-width: 100%;
	}
	h3 {
		margin: 10px 0;
    font-size: 18px;
		@media screen and (min-width: $lg-breakpoint) {
			margin-bottom: 14px;
			margin-top: 26px;
		}
		span {
			color: $text-purple;
		}
	}
}

.news-element-content {
	margin-bottom: 10px;//15px
	@media screen and (min-width: $lg-breakpoint) {
		margin-bottom: 38px;
	}
}

.news-element-addon {
	@include clearfix;
	list-style-type: none;
	margin: 0;
	padding: 0;
 li {
	 &:first-child {
		 display: none;
		 @media screen and (min-width: $lg-breakpoint) {
			 display: block;
		 }
	 }
	 @media screen and (min-width: $lg-breakpoint) {
		 float: left;
		 width: 50%;
	 }
 }
}

.news-details {
	color: $text-gray;
	display: inline-block;
	font-size: 12px;
	font-weight: 900;
	padding-right: 10px;
	position: relative;
	@media screen and (min-width: $lg-breakpoint) {
		font-size: 15px;
		padding-right: 16px;
	}
	&:after {
		color: $text-purple;
		content: " >";
		font-size: 12px;
		font-weight: 900;
		line-height: 1;
		position: absolute;
		right: 0;
		top: 0;
		@media screen and (min-width: $lg-breakpoint) {
			font-size: 15px;
			top: 2px;
		}
	}
}

.timestamp {
	font-size: 7px;
	font-weight: 300;
	padding-left: 15px;
	position: relative;
	@media screen and (min-width: $lg-breakpoint) {
		font-size: 13px;
		padding-left: 30px;
	}
	&:before {
		@include sprite-dimensions($icons, timestamp-small);
		background: $icons;
		background-position: sprite-position($icons, timestamp-small);
		@include retina-sprite-background(timestamp-small, $retina);
		content: '';
		display: block;
		left: 0;
		position: absolute;
		top: 0;
		@media screen and (min-width: $lg-breakpoint) {
			@include sprite-dimensions($icons, timestamp);
			background: $icons;
			background-position: sprite-position($icons, timestamp);
			@include retina-sprite-background(timestamp, $retina);
			top: -2px;
		}
	}
}

// Videos section
.videos {
	background-color: $bg-white;
	padding-bottom: 28px;
	padding-top: 12px;
	position: relative;
	text-align: center;
	@media screen and (min-width: $lg-breakpoint) {
		padding-bottom: 65px;
		padding-top: 0;
	}
	.swiper-slide {
		width: 150px;
		@media screen and (min-width: $lg-breakpoint) {
			width: 300px;
		}
	}
}

.videos-item {
	margin: 0 auto;
	//max-width: 150px;
	overflow: hidden;
	@media screen and (min-width: $lg-breakpoint) {
		//max-width: none;
	}
	.fancybox {
		display: block;
		margin-bottom: 15px;
		position: relative;
		@media screen and (min-width: $lg-breakpoint) {
			margin-bottom: 27px;
		}
		img {
			display: block;
			height: auto;
			width: 100%;
		}
		&:after {
			background-image: url(../images/backgrounds/bg-icon-play.png);
			background-position: 50% 50%;
			background-repeat: no-repeat;
			content: '';
			height: 100%;
			left: 0;
			opacity: .5;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 5;
		}
		&:hover {
			&:after {
				opacity: 1;
			}
		}
	}
}

.videos-item-title {
	margin-bottom: 0;
	margin-top: 0;
	@media screen and (min-width: $lg-breakpoint) {
		margin-bottom: 4px;
	}
}

.youtube-link {
	display: inline-block;
	font-size: 12px;
	padding-left: 16px;
	position: relative;
	@media screen and (min-width: $lg-breakpoint) {
		font-size: 13px;
		padding-left: 36px;
	}
	&:before {
		@include sprite-dimensions($icons, youtube-smaller);
		background: $icons;
		background-position: sprite-position($icons, youtube-smaller);
		@include retina-sprite-background(youtube-smaller, $retina);
		content: '';
		left: 0;
		position: absolute;
		top: 4px;
		@media screen and (min-width: $lg-breakpoint) {
			@include sprite-dimensions($icons, youtube-small);
			background: $icons;
			background-position: sprite-position($icons, youtube-small);
			@include retina-sprite-background(youtube-small, $retina);
			top: -1px;
		}
	}
}

// Albums section
.albums {
	background-color: $bg-grey-light;
	padding-bottom: 25px;
	padding-top: 16px;
	text-align: center;
	@media screen and (min-width: $lg-breakpoint) {
		padding-bottom: 66px;
		padding-top: 0;
	}
	.swiper-slide {
		width: 150px;
		@media screen and (min-width: $lg-breakpoint) {
			width: 300px;
		}
	}
}

.albums-item {
	margin: 0 auto;
	max-width: 150px;
	.img-holder {
		margin-bottom: 15px;
		@media screen and (min-width: $lg-breakpoint) {
			margin-bottom: 27px;
		}
		img {
			@include box-shadow(0px 2px 0px 0px rgba(193,193,193,1));
			display: block;
			height: auto;
			margin: 0 auto;
			max-width: 100%;
		}
	}
	@media screen and (min-width: $lg-breakpoint) {
		max-width: none;
	}
}

.albums-item-title {
	margin-bottom: 0;
	margin-top: 0;
	@media screen and (min-width: $lg-breakpoint) {
		margin-bottom: 4px;
	}
}

.apple-logo-link {
	display: inline-block;
	font-size: 12px;
	font-weight: 300;
	padding-left: 11px;
	position: relative;
	@media screen and (min-width: $lg-breakpoint) {
		font-size: 13px;
		padding-left: 24px;
	}
	&:before {
		@include retina-sprite-background(apple-logo-small, $retina);
		@include sprite-dimensions($icons, apple-logo-small);
		background: $icons;
		background-position: sprite-position($icons, apple-logo-small);
		content: '';
		left: 0;
		position: absolute;
		top: 2px;
		@media screen and (min-width: $lg-breakpoint) {
			@include retina-sprite-background(apple-logo, $retina);
			@include sprite-dimensions($icons, apple-logo);
			background: $icons;
			background-position: sprite-position($icons, apple-logo);
			top: -2px;
		}
	}
}

// Photos section
.photos {
  background-color: $bg-white;
  padding-top: 14px;
	text-align: center;
	@media screen and (min-width: $lg-breakpoint) {
		padding-top: 0;
	}
	.btn-swiper-next, .btn-swiper-prev {
		margin-top: -45px;
		top: 50%;
		@media screen and (min-width: $lg-breakpoint) {
			margin-top: -92px;
		}
	}
	img {
		display: block;
		height: auto;
		width: 100%;
	}
}

// Shows section
.shows {
	background-image: url(../images/backgrounds/bg-shows.jpg);
	background-position: center 0;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	font-size: 14px;
	padding-bottom: 29px;
  padding-top: 16px;
	text-align: center;
	@media screen and (min-width: $lg-breakpoint) {
		font-size: 18px;
		padding-bottom: 46px;
		padding-top: 0;
	}
  .purple-title-with-bg {
		margin-bottom: 28px;
    @media screen and (min-width: $lg-breakpoint) {
      margin-bottom: 17px;
    }

  }
}

.shows-item-holder {
	align-content: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin:0 auto;
	max-width: 768px;
}

.show-date {
	//width: 37%;
	flex: 0 1 244px;
	line-height: 1;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
	@media screen and (min-width: $lg-breakpoint) {
		text-align: left;
	}
}

.show-city {
	flex: 0 1 339px;
	text-align: center;
	@media screen and (min-width: $lg-breakpoint) {
		text-align: left;
	}
}

.show-place {
	flex: 0 1 185px;
	@media screen and (max-width: $lg-breakpoint) {
		display: none;
	}
}

.show-date-day {
	color: #fdff5a;
	display: block;
	font-size: 18px;
	font-weight: 700;
	line-height: 1;
	@media screen and (min-width: $lg-breakpoint) {
		font-size: 35px;
	}
}

.show-date-month {
	display: block;
}

.show-date-year {
	display: block;
}

.shows-item {
  padding: 6px 0 5px;
	text-align: left;
	@media screen and (min-width: $lg-breakpoint) {
		padding: 13px 0 11px;
	}
	& + .shows-item {
		border-top: 2px solid rgba(255,255,255,.25);
	}
}

// Store section
.store {
	padding-bottom: 11px;
	padding-top: 17px;
	text-align: center;
	@media screen and (min-width: $lg-breakpoint) {
		padding-top: 0;
		padding-bottom: 20px;
	}
	.swiper-slide {
		//display: flex;
		//justify-content: center;
		width: 150px;
		@media screen and (min-width: $lg-breakpoint) {
			width: 330px;
		}
	}
}

.store-item {
	margin-bottom: 5px;
	& + .store-item {
		margin-left: 56px;
	}
}

.store-item-image {
	min-height: 150px;
	img	{
		display: block;
		height: auto;
		margin: 0 auto 10px;
		max-width: 100%;
		@media screen and (min-width: $lg-breakpoint) {
			margin-bottom: 25px;
		}
	}
}

.store-item-title {
	margin-bottom: 4px;
	margin-top: 0;
  @media screen and (max-width: $lg-breakpoint) {
    font-size: 14px;
  }
	@media screen and (min-width: $lg-breakpoint) {
		margin-bottom: 8px;
	}
}

.store-item-price {
	color: $text-purple;
	display: block;
	font-size: 18px;
	font-weight: 900;
	line-height: 1;
	margin-bottom: 4px;
	text-transform: uppercase;
	@media screen and (min-width: $lg-breakpoint) {
		font-size: 35px;
		margin-bottom: 8px;
	}
}

// News main pain
.main-pane-news {
	align-content: stretch;
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
	@media screen and (min-width: $lg-breakpoint) {
		flex-direction: row;
		margin-bottom: 93px;
	}
}

.aside-news {
	box-sizing: border-box;
	display: flex;
	flex: auto;
	flex-direction: row;
	text-align: center;
	order: 2;
	@media screen and (min-width: $lg-breakpoint) {
		flex-direction: column;
		order: 1;
		flex: 0 0 215px;
		text-align: left;
	}
	@media screen and (min-width: $xl-breakpoint) {
		flex: 0 1 277px;
	}
}

.news-list-group {
	flex: 0 50%;
	@media screen and (min-width: $lg-breakpoint) {
		flex: 0 auto;
	}
}

.content-news {
	flex: auto;
	font-size: 12px;
	line-height: 1.3;
	p {
		margin-bottom: 15px;
		@media screen and (min-width: $lg-breakpoint) {
			margin-bottom: 19px;
		}
	}
	@media screen and (min-width: $lg-breakpoint) {
		font-size: 16px;
		order: 2;
		flex: 1 1 750px;
	}
	img {
		display: block;
		height: auto;
		margin: 14px auto 20px;
		max-width: 100%;
		@media screen and (min-width: $lg-breakpoint) {
			margin-bottom: 41px;
			margin-top: 28px;
		}
	}
	.timestamp {
		display: block;
		margin-bottom: 15px;
		@media screen and (max-width: $lg-breakpoint) {
			font-size: 10px;
		}
		@media screen and (min-width: $lg-breakpoint) {
			margin-bottom: 27px;
		}
	}
	order: 1;
}

.page-title {
	color: #ff5a9e;
	font-size: 45px;
	line-height: 0.8;
	margin-bottom: 15px;
	margin-top: 18px;
	text-align: center;
	text-transform: uppercase;
	@media screen and (min-width: $lg-breakpoint) {
		font-size: 61px;
		margin-bottom: 0;
		text-align: left;
		padding-left: 215px;
	}
	@media screen and (min-width: $xl-breakpoint) {
		padding-left: 0;
	}
}

.news-category-title {
	color: $text-purple;
	font-size: 14px;
	margin-bottom: 15px;
	margin-top: 0;
	text-transform: uppercase;
	.news-list + & {
		margin: 15px 0 15px;
	}
	@media screen and (min-width: $lg-breakpoint) {
		margin-bottom: 26px;
		font-size: 18px;
		.news-list + & {
			margin: 55px 0 26px;
		}
	}
}

.news-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	@media screen and (min-width: $lg-breakpoint) {
		margin-bottom: 55px;
	}
}

.news-item {
	& + & {
		margin-top: 10px;
		@media screen and (min-width: $lg-breakpoint) {
			margin-top: 23px;
		}
	}
}

.news-item-link {
	color: $bg-grey-dark;
	font-size: 14px;
	@media screen and (min-width: $lg-breakpoint) {
		font-size: 18px;
	}
}

.news-content-title {
	font-size: 24px;
	line-height: 1;
	margin-bottom: 5px;
	margin-top: 0;
	text-align: left;
	@media screen and (min-width: $lg-breakpoint) {
		font-size: 32px;
		text-align: left;
		margin-bottom: 10px;
	}
	span {
		color: $text-purple;
	}
}