//
// swiper styles
// --------------------------------------------------

.swiper-holder {
  overflow: hidden;
  position: relative;
}

.swiper-container {
  position: static;
}

.btn-swiper-next, .btn-swiper-prev {
  @include border-radius(50%);
  @include transition(opacity .2s);
  background-color: $text-purple;
  background-image: none;
  cursor: pointer;
  height: 90px;
  position: absolute;
  top: 15px;
  width: 90px;
  z-index: 5;
  @media screen and (min-width: $lg-breakpoint) {
    height: 185px;
    width: 185px;
    top: 35px;
  }
  &.swiper-button-disabled {
    background-color: lighten($text-purple, 10%);
    opacity: 0;
  }
}

.btn-swiper-next {
  right: -45px;
  @media screen and (min-width: $lg-breakpoint) {
    right: -92px;
  }
  span {
    @include sprite-dimensions($icons, arrow-next-small);
    @include retina-sprite-background(arrow-next-small, $retina);
    background: $icons;
    background-position: sprite-position($icons, arrow-next-small);
    display: block;
    margin-left: 22px;
    @media screen and (min-width: $lg-breakpoint) {
      @include sprite-dimensions($icons, arrow-next);
      @include retina-sprite-background(arrow-next, $retina);
      background: $icons;
      background-position: sprite-position($icons, arrow-next);
      margin-left: 48px;
    }
  }
}

.btn-swiper-prev {
  left: -45px;
  @media screen and (min-width: $lg-breakpoint) {
    left: -92px;
  }
  span {
    @include sprite-dimensions($icons, arrow-prev-small);
    @include retina-sprite-background(arrow-prev-small, $retina);
    background: $icons;
    background-position: sprite-position($icons, arrow-prev-small);
    display: block;
    float: right;
    margin-right: 22px;
    @media screen and (min-width: $lg-breakpoint) {
      @include sprite-dimensions($icons, arrow-prev);
      @include retina-sprite-background(arrow-prev, $retina);
      background: $icons;
      background-position: sprite-position($icons, arrow-prev);
      margin-right: 48px;
    }
  }
}
