
.who-we-are {
  font-family: Verdana;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: #ffffff;
  background-color: #b13c4e;
  padding: 50px 0 60px;
  background-image: url(../images/backgrounds/bg-who-we-aret.jpg);
  background-size: cover;

  &__title {
    font-family: Verdana;
    margin-top: 0;
    margin-bottom: 37px;
    font-size: 40px;
    text-align: center;
    color: #ffffff;
  }
  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}